@font-face {
  font-family: 華康宗楷體;
  src: url(fonts/1.TTC);
}
@font-face {
  font-family: 華康方圓體;
  src: url(fonts/2.TTC);
}
@font-face {
  font-family: 華康行楷體;
  src: url(fonts/3.TTC);
}
@font-face {
  font-family: 華康雅風體;
  src: url(fonts/4.TTC);
}