a{
	color: #000;
}
.heart{
	width: auto;
	margin: 50px auto;
	overflow: hidden;
}
.heart .heart_content{
	max-width: 1380px;
	margin: 50px auto;
}
.heart_content .heart_title{
	font-size: 57px;
	font-family: "微軟正黑體";
	color: #000;
	letter-spacing: 0.35em;
	text-align: center;
	padding-bottom: 20px;
}
.heart_hr{
	width: 777px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	margin-bottom: 70px;
}
.heart_hr hr{
	border-bottom: 1px solid #f489b0;
}
table{
	border: 1px solid #c6c4c4 ;
}
table thead tr th{
	width: 277px;
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #909090;
	letter-spacing: 0.3em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
table thead tr th a{
	margin-right: -30px;
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #909090;
	text-align: center;
}
table thead tr th a:hover{
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #f489b0;
	text-decoration: none;
	text-align: center;
}
table tbody tr td img{
	width: 90px;
	height: 90px;
}
table tbody tr td {
	text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	/*background-color: #f9f9f9;*/
}
table tbody tr td .Paw_button{
	color:#ef6464;
	font-size: 21px;
	outline-color:#f9f9f9;
}
table tbody tr td .Paw_button:hover{
	color:#ef6464;
	font-size: 21px;
	outline-color:#f9f9f9;
}
table tbody tr td .Paw_button:focus{
	color:#000;
	font-size: 21px;
	outline-color:#f9f9f9;
}
.page{
	margin-bottom: 40px;
	margin-top: 50px;
	text-align: center;
}
.page a{
	font-size: 14px
	color: #000;
	line-height: 21px;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	padding: 10px 13px 10px 13px;
	width: 30px;
	height: 30px;
	border:1px solid #000;
	margin-right: 10px;
}
.page a:hover{
	background: #000;
    color: #fff;
    border: 1px solid #000;
}